.card {
  display: flex;
  flex-direction: column;
}
.card-image-wrapper {
  position: relative;
}
.button-wrapper {
  position: relative;
}
.card > .Button {
  position: absolute;
  z-index: 1;
}

.a {
  position: absolute;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 80%;
  position: relative;
}

.card .Button {
  padding: 2px 16px 3px;
}

.card-votes {
  font-weight: bold;
}
