.IdolChartTab {
  width: 100%;
}

.IdolChartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff1a;
  padding: 8px 0;
}

.idolchart-item__info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.IdolChartItem img {
  width: 70px;
  height: 70px;
}

.IdolChartItem p {
  color: var(--brand-100);
}

.IdolChartItem h3 {
  color: #ffffffde;
}

.IdolChartItem h4 {
  color: #ffffff99;
}

.IdolChartTab__button-wrapper {
  display: flex;
  justify-content: center;
  margin: 51px 0;
  width: 100%;
}

.IdolChartTab__button-wrapper .Button {
  max-width: 326px;
  width: 100%;
  height: 42px;
}

@media (min-width: 376px) {
  .IdolChartTab .Button {
    max-width: 326px;
    margin: 51px auto;
  }
}

@media (min-width: 745px) {
  .IdolChartTab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }
}
