.card {
  position: relative;
  width: 100%;
  height: 100%;
}
.card-image-wrapper {
  position: relative;
  width: 100%;
  height: 60%;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.card .button-wrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 90%;
}
.card .button-wrapper .Button {
  width: 100%;
  height: 40px;
  font: inherit;
}

.card-votes {
  font-weight: bold;
}
.card-vote p {
  color: rgba(249, 109, 105, 1);
}

.card-feature h3 {
  color: #ffffff;
  opacity: 40%;
  margin-bottom: 8px;
}

.card-feature h2 {
  margin-bottom: 20px;
}

.img-blur-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  z-index: 2;
  pointer-events: none;
}

.img-credit {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-blur {
  position: relative;
  width: 11px;
  height: 15px;
  margin-right: 10px;
}

.vote-amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-vote {
  display: flex;
}

.vote-amount .card-deadline .font-medium-12 {
  font-weight: 400;
}

.swiper-button-disabled {
  visibility: hidden;
}
@media (max-width: 375px) {
  .card .card-feature h3 {
    font-size: 0.75rem;
  }
  .card .card-feature h2 {
    font-size: 0.875rem;
  }
}

@media (min-width: 376px) and (max-width: 767px) {
  .swiper-button-next {
    visibility: hidden;
  }
}

@media (max-width: 767px) {
  .card .button-wrapper {
    width: 90%;
  }
  .swiper-button-prev {
    visibility: hidden;
  }
}

@media (min-width: 768px) {
}
