.mycredit {
  border: 1px solid rgba(241, 238, 249, 0.8);
  border-radius: 8px;
  margin: 0 auto;
  width: 100%;
  max-width: 327px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 131px;
  padding: 30px 20px;
}

.credit-status {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charge-button {
  color: rgba(249, 109, 105, 1);
  background-color: transparent;
}

.credit-now {
  display: flex;
}
.credit-title {
  color: rgba(255, 255, 255, 0.6);
}

/* .overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    z-index: 2;
    } */
.image-blur {
  position: relative;
  width: 11px;
  height: 15px;
  margin-right: 10px;
}
.credit_image {
  position: relative;
  width: 100%;
  height: 100%;
}
.blur {
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--brand-100);
  filter: blur(5px);
  opacity: 0.4;
  border-radius: 16px;
  position: absolute;
}

@media (min-width: 376px) {
  .mycredit {
    max-width: 696px;
  }
}

@media (min-width: 745px) {
  .mycredit {
    max-width: 1200px;
    padding: 30px 80px;
  }
}
