.InterestIdolList {
  color: white;
}

@media (min-width: 768px) {
  /* 768이상~ */
  .InterestIdolList .font-bold-16-line26 {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .InterestIdolList .font-bold-16-line26 {
    font-size: 24px;
  }
}
