.swiper-slide {
  color: white;
}

.VoteSlide {
  width: 100%;
  max-width: 374px;
  display: flex;
  align-content: center;
  margin: 0 auto;
}

@media (min-width: 745px) {
  .VoteSlide {
    max-width: 744px;
  }
}

@media (min-width: 376px) {
  .VoteSlide {
    max-width: 1200px;
  }
}
