.swiper-slide {
  color: white;
}

.move-button .swiper-button-next button {
  position: absolute; /* 위치 지정 */
  display: flex;
  justify-content: space-between;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(27, 27, 27, 0.8);
  color: #ffffff;
}

.voteSlide .move-button > div {
  position: relative;
}

.voteSlide {
  max-width: 374px;
  display: flex;
  align-content: center;
  margin: 0 auto;
}

.swiper-wrapper {
  margin: 0 auto;
}

/* .voteSlide .swiper-button-next {
  position: absolute;
  background-color: rgba(27, 27, 27, 0.8);
  color: #ffffff;
  padding: 30px 10px;
}

.voteSlide .swiper-button-prev {
  background-color: rgba(27, 27, 27, 0.8);
  color: #ffffff;
  padding: 30px 10px;
  position: absolute;
 

/* .swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
} */

@media (min-width: 745px) {
  .voteSlide {
    max-width: 744px;
  }
}

@media (min-width: 376px) {
  .voteSlide {
    max-width: 1200px;
  }
}
