.MyPage .font-bold-16-line26 {
  color: #f6f6f8;
}

.MyPage .IdolProfile {
  width: 98px;
  height: 98px;
}

.MyPage .ProfileChunk {
  height: 151px;
}

.MyPage .chunk-name {
  color: #f4efef;
}

.MyPage .chunk-group {
  color: #ffffff99;
  opacity: 0.4;
}

.MyPage .Favor-idols-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 좌우, 열 */
  grid-template-rows: repeat(2, auto); /* 아래위, 행*/
  gap: 24px 16px;
}

.MyPage .my-idols-list .ProfileChunk {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.MyPage .btn-positive {
  width: 255px;
  height: 48px;
  border-radius: 24px;
}

.MyPage .button-wrapper {
  align-items: center;
}

.no-fav {
  color: #ffffff99;
}

.my-idols-list {
  display: flex;
}

.mother {
  position: relative;
}

.idol-delete-Btn {
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: none;
}

@media (min-width: 768px) {
  .MyPage .my-idols-list .ProfileChunk .IdolProfile {
    width: 128px;
    height: 128px;
    padding: 6.47px;
  }
  .MyPage .Favor-idols-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .MyPage .ProfileChunk {
    height: 183px;
  }
}

@media (min-width: 1200px) {
  .MyPage .my-idols-list .ProfileChunk .IdolProfile {
    padding: 6.53px;
  }
  .MyPage .Favor-idols-list {
    grid-template-columns: repeat(8, 1fr);
  }
}
