.LandingPage {
  width: 100%;
  font-family: "Pretendard";
  position: relative;
}

/* ::가상 요소 왼쪽 상단 그라데이션 효과 */
.LandingPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../src/assets/images/Img_top\ design.png");
  background-repeat: no-repeat;
  /* 왼쪽 상단에 정확히 고정 */
  background-position: top left;
  /* 이미지 크기를 원본 그대로 유지해서 왜곡 없이 표시 */
  background-size: auto;
  z-index: 3;
  pointer-events: none;
}

/* 중앙 그라데이션 효과 */
.LandingPage .overlay {
}

/* ------------------ */
/* ✅ Intro Section   */
/* ------------------ */
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--black-100);
  color: white;
  text-align: center;
  padding: 1.5rem;
  background-image: url("../../src/assets/images/image\ 14.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: 2;
  max-width: 100%;
}

.intro h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 20px;
}

.intro h1 > span {
  color: var(--brand-100);
}

.intro .logo {
  width: 80%;
  padding: 0 10px;
}

.intro .Button {
  width: 230px;
  height: 48px;
}

.intro-top,
.intro-bottom {
  margin: 220px 0;
}

/* ------------------ */
/* ✅ Step Sections   */
/* ------------------ */
.step-wrapper {
  position: relative;
  background-color: var(--black-100);
  /* z-index: 1;
  overflow: hidden; */
}

/* 세로 띠 */
.step-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 117px;
  height: 100%;
  background-image: linear-gradient(
    #030615,
    #051d31,
    #051e32,
    #051c30,
    #030b1c
  );
  z-index: 5;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 1.5rem;
  background-image: url("../../src/assets/images/bg-Home-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.step2 {
  background-image: url("../../src/assets/images/bg-Home-2.jpg");
}

.step3 {
  background-image: url("../../src/assets/images/bg-Home-3.jpg");
}

.step .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 744px;
  height: 744px;
  border: 1px solid red;
  background: radial-gradient(
    circle,
    rgba(0, 1, 9, 0),
    rgba(0, 1, 9, 0.926),
    rgb(0, 1, 9),
    rgba(2, 2, 133, 0.525)
  );
  z-index: 2;
}

.step-top,
.step-bottom {
  z-index: 8;
}

.step h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #d2c030;
}

.step p {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 40px;
}
.step .step-img {
  width: 100%;
}

/* --------------Tablet----------------- */
@media (min-width: 745px) {
}
/* ----------------Mobile--------------------- */
@media (min-width: 376px) {
}
